body{
    background-color: #291f1e;
}
#header_texte{
    color: blanchedalmond;
}
header{
    background-color: #291f1e;
}
main{
    background-color: #f64740;
}
footer{
    background-color: #291f1e;
    padding-top: 10em;
}

h1{
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
#h2{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: blanchedalmond;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
table{
    font-family: 'Palanquin', sans-serif;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
td{
    border: 1px solid black;
    padding:30px;
    font-size: 12px;
    font-weight: bold;
}
.espacement{
    color: #f64740;
}