header{
    background-color: coral;
    margin-top: -45px;
    margin-bottom: -30px;
}
main{
    background-color: cornflowerblue;
}
footer{
    background-color: crimson;
}

h1{
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 400%;
}
#h2{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 150%;
    padding-bottom: 20px;
}
.link{
    text-decoration: none;
    color: black;
}
#logo{
    display: flex;
    justify-content: right;
    width: 10em;
    height: 10em;
    padding-left: 70em;
    padding-bottom: ;
}

table{
    font-family: 'Palanquin', sans-serif;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding:10px;
    color:
}